@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  font-family:
    "Fredoka", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --bg-dark: oklch(0.92 0 130);
  --bg: oklch(0.96 0 130);
  --bg-light: oklch(1 0 130);
  --text: oklch(0.15 0 130);
  --text-muted: oklch(0.4 0 130);
  --highlight: oklch(1 0 130);
  --border: oklch(0.6 0 130);
  --border-muted: oklch(0.7 0 130);
  --bg-gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --bg-gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --primary: oklch(0.4 0.1 130);
  --secondary: oklch(0.4 0.1 310);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

header h1 {
  width: fit-content;
  margin: 32px auto;
  color: var(--text);
}

body {
  background-color: var(--bg-dark);
  min-height: 100svh;
}

#root {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  gap: 16px;
  padding: 32px;
  padding-top: 0px;
}

.formDiv {
  color: var(--text);
  display: flex;
  border-radius: 20px;
  border: 1px solid var(--border);
  flex-grow: 0.8;
  max-width: 40%;
  background-color: var(--bg);
  padding: 32px;
}

.formDiv form {
  width: 100%;
}

.formDiv legend {
  font-weight: 700;
  font-size: 1.5rem;
}

.formDiv fieldset {
  border: none;
}

.formDiv input {
  border: 1px solid var(--border);
  border-radius: 8px;
  height: 30px;
  padding: 4px 8px;
}

.formDiv fieldset label {
  font-weight: 500;   
}

.formDiv fieldset div {
  flex-direction: column;
  display: flex;
  gap: 4px;
  margin-top: 16px;
}

.formDiv .mandatory {
  color: var(--danger);
}

.formControlsDiv button {
  margin-right: auto;
  border: 1px solid var(--border);
  background-color: var(--primary);
  color: var(--bg-dark);
  padding: 6px 24px;
  border-radius: 8px;
  transition: background-color 0.1s ease;
  box-shadow: var(--shadow);
}

.formControlsDiv button:hover { 
  cursor: pointer;
  background-color: var(--secondary);
}

.CVDiv {
  border: 1px solid var(--border);
  flex-grow: 1;
  background-color: var(--bg);
  height: 80vh;
}

@media (max-width: 768px) {
  #root {
    flex-direction: column;
  }

  .formDiv {
    max-width: 100%;
  } 
}